.featured {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.featured__cardContainer {
    max-width: 1300px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;

    .featured__cardContainer--card {
        position: relative;
        width: 90%;
        max-width: 400px;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: all .4s ease-in-out;
            z-index: 100;
            opacity: 1;

            &:hover {
                opacity: 1;
                scale: 1.1;
            }
        }
    }

    .featured__cardContainer--desc {
        position: absolute;
        bottom: 10%;
        left: 10%;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 30px;
        text-shadow: 2px 2px black;
        z-index: 100;

        span:first-child {

            font-size: 40px;
        }

    }


}

@media only screen and (max-width:820px) {
    .featured__cardContainer {
        display: flex;
        padding: 0 10px;
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .featured__cardContainer--card {
            position: relative;
            width: 90%;
            max-width: 600px;
            height: 400px;
            overflow: hidden;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}


@media only screen and (max-width:1240px) {
    .featured__cardContainer {
        justify-content: center;
    }
}
