.hotelList{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content:center;
    align-items: center;
    position: relative;
}

.hotelList__container{
    
    margin-top:100px ;
    display: flex;
    padding: 0 50px;
    gap: 20px;
   

}
.hotelList__container--searchBox{
    flex:1 ;
    position: sticky;
    border-radius: 10px;
    background: rgb(255, 140, 0);
    padding: 20px;


    .search{
        font-size: 25px;
        text-transform: capitalize;
        font-weight: 600;

    }
    .searchBox__destination, .searchBox__date{
        // display: flex;
        // flex-direction: column;

        position: relative;
        overflow: hidden;
        margin: 10px 0;
        label{
            font-size: 19px;
            font-weight: 500;
            
        }
        span, input{
            cursor: pointer;
            display: block;
            padding: 5px 10px;
            background: white;
            outline: none;
            border: none;

            border-radius: 5px;
        }
        .datePicker{
           display: block;
           margin: 0 auto;
          
        }
    
    }

   
    .searchBox__options{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 50px;
        span{
            font-size: 19px;
            font-weight: 500; 
        }
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;

            label{
                text-transform: capitalize;
            }
            input{
                width: 100px;
                padding:10px;
                border-radius: 5px;
                outline: none;
                border: none;
            }
        }
    }


.searchBox__btn {
 
    width: 300px;
    display: block;
    color: white;
    background: #003580;
    padding:10px 5px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .3s ease;
    font-weight: 500;
    margin: 20px auto;
   


    &:hover {
        background: transparent;
        border: 1px solid #003580;
        color: #003580;

    }

}
}

.hotelList__container--results{
    flex: 3;
    background: blue;
}