.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    margin-top:50px;

}

.footer__linksContainer{

    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;

}
.footer__linksContainer--link{
    cursor: pointer;
    font-weight: 500;
    transition: all .4s ease-in;

    &:hover{
        color: #035ddc;
    }
}
